.flex_container{
    display: flex;
    background-color: #f1f111;
    justify-content:space-between;
    align-items: end;
    height: 200px; 
    flex-wrap: wrap; 
}

.flex_container > div{
    padding: 10px 20px;
    background-color: #ccc;
    font-size: 30px;
    margin: 10px;
}